.main-page {
  min-height: 100vh;
  overflow-x: hidden;
  padding: 60px 0;
  box-sizing: border-box;
}

.main-page__title {
  margin-top: 0;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .main-page__title {
    font-size: 3em;
  }
}

.main-page__filter-controls {
  margin-bottom: 60px;
}

.main-page__filter-controls__search-container {
  position: relative;
}

.main-page__filter-controls__searchbox:focus
  + .main-page__filter-controls__searchbox-label {
  bottom: 100%;
  color: var(--text-light);
}

.main-page__filter-controls__searchbox-label {
  position: absolute;
  left: 0;
  bottom: 0;
  color: var(--text-dark);
  transition: 100ms;
}

.filter-menu {
  box-sizing: border-box;
  padding: 48px 24px;
  position: fixed;
  overflow-y: auto;
  right: 0;
  top: 0;
  bottom: 0;
  min-height: 100vh;
  min-width: 321px;
  max-width: 100vw;
  width: 30%;
  border-left: 1px solid var(--text-light);
  transition: 200ms;
  transform: translateX(100%);
  z-index: 2;
  background-color: var(--background-dark);
  visibility: hidden;
}

.filter-menu--open {
  transform: translateX(0);
  visibility: visible;
}

.filter-menu__filter-title {
  font-weight: 700;
  text-align: center;
}

.filter-menu__input-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  column-gap: 32px;
  row-gap: 16px;
  margin-bottom: 16px;
}

.filter-menu label {
  display: flex;
  justify-content: space-between;
}
