:root {
  --background-dark: #333;
  --text-light: #eee;
  --link-color: hsl(188, 88%, 48%);
  --shadow: #e0e0e022;
  --shadow-dark: #252525dd;
}

body {
  overflow-x: hidden;
  color: var(--text-light);
  background-color: var(--background-dark);
  position: relative;
}
#root {
  max-width: 1900px;
  margin: 0 auto;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

.f-center {
  justify-content: center;
  align-items: center;
}

.f-space-around {
  justify-content: space-around;
}

.button-as-link {
  border: none;
  text-decoration: underline;
  color: var(--link-color);
  background-color: initial;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: initial;
  border: none;
  font-size: 2em;
  color: var(--link-color);
  cursor: pointer;
}
